body ,html{
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
}

h1,h2,#equipe h3{
    font-family: 'Lora', serif;
}

#sobre-nos h5{
    font-weight: 100;
}

#header {
    width: 100%;
    background-color:transparent;
    transition: background ease-out 0.2s;
}

#header.ativo{
    position: fixed;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

#header .navbar-toggler{
    border-color: #ffffff;
    
}

#header .navbar-toggler-icon{
    color: #ffffff;
}

#header .navbar-toggler-icon:focus{
    box-shadow: none;
}

#header .navbar-collapse{
    width: auto;
}

.nav-link{
    color: #ffffff;
}

.nav-link:hover{
    color: #ffffff;
}

.btn-navbar{
    padding-left: 2rem;
}

.btn-custom{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    border: 0.2px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
}

.btn-custom:hover{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
}

#header .nav-item{
    border-bottom: solid 4px transparent;
}

#header .nav-item:hover{
    border-bottom: solid 4px #ffffff;
}

#titulo{
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}

#banner{
    background-image: url(../assets/img/bg.jpg);
    height: 100vh;
    box-shadow: inset 300px 400px 60px rgba(0, 0, 0, 0.6);
}

#slider{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#area-atuacao, #equipe, #blog{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4F4F4F;
}

#area-atuacao .row{
    font-weight: 100;
}

#area-atuacao p{
    font-weight: 400;
}

#area-atuacao i{
    font-size: 6rem;
    font-weight: 300;
    color: #56C2FF;
}

.bd{
    margin-left: -1rem;
    width: 1rem;
    height: 1rem;
    border-top: solid 3px #4F4F4F;
    border-left: solid 3px #4F4F4F;
}

#sobre-nos{
    height: auto;
}

#sobre-nos .row{
    height: auto;
    width: 100%;
    padding: 0;
}

#sobre-nos .col-md-6{
    padding: 0;
}

#about{
    padding: 5rem;
    color: #ffffff;
    /* font-weight: 300; */
    background-color: #4F4F4F;
    display: flex;
    align-items: center;
    justify-content: center
}

#sobre-nos .bd{
    border-top: solid 3px #ffffff;
    border-left: solid 3px #ffffff;
}

#equipe i{
    padding-left: 10px;
}

#blog .btn-custom{
    border-color: #4F4F4F;
    color: #4F4F4F;
}

#blog .btn-custom:hover{
    color: #4F4F4F;
    background-color: rgba(0, 0, 0, 0.2);
}

#contato{
    height: 100%;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    background-color: #F2F6FD;
}

#sobre-nos .row{
    margin: 0;
}

#contato .row{
    height: 100%;
    width: 100%;
    margin-left: 6.7%;
    margin-right: 0;
    display: flex;
    align-items: center;
}

#contato textarea{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #607290;
}

#contato input{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #607290;
}

#contato input:focus{
    box-shadow: none;
}

#contato textarea:focus{
    box-shadow: none;
}

#btn-enviar{
    display: flex;
    color: #ffffff;
    background-color: #607290;
}

#btn-enviar:hover{
    background-color: #536179;
}

#btn-enviar a{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}

#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3rem;
    padding-left: 3rem;
}

#info h4{
    font-weight: 300;
}

#info label{
    font-weight: 500;
    color: #536179;
}

#photo{
    height: 100%;
    padding-right: 0;
    background: url(../assets/img/teste.jpg) no-repeat right;
    background-size: contain;
    
}

#footer{
    height: auto;
    background-color: #4F4F4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

#footer h5, #footer h6{
    color: #ADADAD;
    font-weight: 300;
}

#footer .footer-custom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


