body ,html{
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

p{
    font-size: 16px;
}

h2{
    font-size: 32;
}

h1,h2,h3{
    font-family: 'Gelasio', serif;
}

#sobre-nos h5{
    font-weight: 100;
}

#header {
    position: fixed;
    width: 100%;
    background-color:transparent;
    visibility: visible;
}

#header-alt{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms;
}

#header-alt .nav-link{
    font-weight: 300;
    padding-right: 1rem;
    color: #5a82a1;
}

#header-alt .btn-custom{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 63px;
    padding-right: 63px;
    border: 0.2px solid #5a82a1;
    text-decoration: none;
    color: #5a82a1;
}

#header-alt .btn-custom:hover{
    color: #ffffff;
    background-color: #5a82a1;
    border-color: #5a82a1;
}

#header .navbar-collapse, #header-alt .navbar-collapse{
    width: auto;
}


#header .navbar-toggler{
    border-color: #ffffff;
    
}

#header .navbar-toggler-icon{
    color: #ffffff;
}

#header .navbar-toggler-icon:focus{
    box-shadow: none;
}

#header .navbar-collapse{
    width: auto;
}

#header .nav-link{
    font-weight: 300;
    padding-right: 1rem;
    color: #ffffff;
}

.nav-link:hover{
    color: #808183;
}

.btn-navbar{
    padding-left: 2rem;
}

.btn-custom{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 63px;
    padding-right: 63px;
    /* padding-bottom: 0.8rem;
    padding-top: 0.8rem; */
    border: 0.2px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
}

.btn-custom:hover{
    color: #ffffff;
    background-color: #5a82a1;
    border-color: #5a82a1;
}

#titulo{
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}

#banner{
    background-image: url(../assets/img/banner-rezende-neiva.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
}

#slider{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    animation-duration: 2s;
    animation-name: slidein;
}

#slider h1{
    font-size: 38px;
}

#slider h1{
    /* animation-delay: 1s; */
    animation-duration: 3s;
    animation-name: slidein;
}

#slider a{
    /* animation-delay: 2s; */
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}

#area-atuacao, #equipe, #blog{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4F4F4F;
}

#area-atuacao p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

#area-atuacao h6{
    font-size: 16px;
    font-weight: 400;
}

#area-atuacao h4{
    font-size: 24px;
    font-weight: 200;
    color: #808183;
}

.bd{
    margin-left: -1rem;
    width: 1rem;
    height: 1rem;
    border-top: solid 2px #5a82a1;
    border-left: solid 2px #5a82a1;
}

#sobre-nos{
    height: auto;
}

#sobre-nos .row{
    /* height: auto; */
    width: 100%;
    padding: 0;
}

#sobre-nos .col-md-6{
    padding: 0;
}

#about{
    padding: 5rem;
    color: #ffffff;
    /* font-weight: 300; */
    background-color: #5a82a1;
    display: flex;
    align-items: center;
    justify-content: center
}

#about h5{
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;

}

#sobre-nos .bd{
    border-top: solid 2px #ffffff;
    border-left: solid 2px #ffffff;
}

#equipe i{
    padding-left: 10px;
}

#equipe h3{
    padding-top: 1rem;
    font-size: 24px;
    color: #3e474c;
}

#equipe .oab{
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    padding-top: 0;
}

#equipe{
    padding-top: 2rem;
}

#blog .btn-custom{
    border-color: #53748c;
    color: #53748c;
}

#blog .btn-custom:hover{
    color: #ffffff;
    background-color: #53748c;
    border-color: #53748c;
}

#blog h4{
    font-size: 24px;
    font-weight: 200;
    color: #3e474c;
}

#blog .anuncio-blog{
    width: 90%;
}

#blog .col-md-4:hover h4{
    color:  #53748c;
}

#contato{
    height: 100%;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    background-color: #F8F9FD;
}

#sobre-nos .row{
    margin: 0;
}

#contato .row{
    height: 100%;
    width: 100%;
    margin-left: 6.7%;
    margin-right: 0;
    display: flex;
    align-items: center;
}

#contato textarea{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #607290;
}

#contato input{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #607290;
}

#contato input:focus{
    box-shadow: none;
}

#contato textarea:focus{
    box-shadow: none;
}

#btn-enviar{
    display: flex;
    color: #ffffff;
    background-color: #607290;
}

#btn-enviar:hover{
    background-color: #536179;
}

#btn-enviar a{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}

#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3rem;
    padding-left: 3rem;
}

#info h4{
    font-weight: 300;
}

#info label{
    font-weight: 500;
    color: #536179;
}

#photo{
    height: 100%;
    padding-right: 0;
    background: url(../assets/img/teste.jpg) no-repeat right;
    background-size: contain;
    
}

#footer{
    height: auto;
    background-color: #3e474c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

#footer h5{
    font-size: 16;
    color: #bbbcbe;
    font-weight: 400;
}

#footer h6{
    font-size: 12;
    color: #bbbcbe;
    font-weight: 400;
}

#footer .footer-custom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 82px;
    height: 82px;
}


#footer .col-md-3 img{
    width: 20px;
    height: 20px;
}

